/* Bootstrap overrides */
body {
  /*min-height: 1000px;*/
  padding-top: 70px;
}
.navbar-default {
  height: 65px;
}
.navbar-default
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 65px;
  font-size: 18pt;
}
.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 65px;
  font-size: 14pt;
.anchor {
  padding-top: 140px;
}

